.project {
    margin-top: 30px;
    text-align: center;
    font-size: 45px;
    color: black;
}

.project span {
    color: red;
}
.titlecont{
    width: 100%;
    height: auto;
    /* padding: 50px; */
    /* background-color: red; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    margin-top: 30px;
}
.project-quad{
    background-image: url(quadcopter.jpg);
    border-radius: 10px;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
    margin: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid rgba(0,0,0,0.8);
    /* background-color: #3500d3; */
    background-position: center;
}
.titleoverlay{
    margin: 0;
    padding: 0;
    border-radius: 10px;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.2s ease-out;
}
.project-title{
    width: 80%;
    text-align: center;
    text-overflow: clip;
    margin: auto;
    transform: translateY(6px);
    transition: 0.4s ease-out;
    font-weight: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-roboarm{
    background-image: url(roboarm.jpeg);
    border-radius: 10px;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
    margin: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid rgba(0,0,0,0.8);
    /* background-color: #3500d3; */
    background-position: center;
}
.tittleoverlay{
    margin: 0;
    padding: 0;
    border-radius: 10px;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.2s ease-out;
}
.proj-tennis{
    background-image: url(roboarm.jpeg);
    border-radius: 10px;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
    margin: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid rgba(0,0,0,0.8);
    /* background-color: #3500d3; */
    background-position: center;
}
.tittleoverlay2{
    margin: 0;
    padding: 0;
    border-radius: 10px;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.2s ease-out;
}
.proj-momo{
    background-image: url(roboarm.jpeg);
    border-radius: 10px;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
    margin: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid rgba(0,0,0,0.8);
    /* background-color: #3500d3; */
    background-position: center;
}
.tittleoverlay3{
    margin: 0;
    padding: 0;
    border-radius: 10px;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.2s ease-out;
}
.project-quad:hover .titleoverlay{
    opacity: 1;
}
.project-roboarm:hover .tittleoverlay{
    opacity: 1;
}
.proj-tennis:hover .tittleoverlay2{
    opacity: 1;
}
.proj-momo:hover .tittleoverlay3{
    opacity: 1;
}
.circular-A{
    background-color: red;
    border-color: white;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    margin-left: 270px;
    margin-right: 5px;
    font-size: 25px;
    color:azure;
}
.circular-B{
    background-color: red;
    border-color: white;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    margin-left: 490px;
    margin-right: 5px;
    font-size: 25px;
    color:azure;
}
.circular-C{
    background-color: red;
    border-color: white;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    margin-left: 390px;
    margin-right: 5px;
    font-size: 25px;
    color:azure;
}
.circular-D{
    background-color: red;
    border-color: white;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    margin-left: 520px;
    margin-right: 5px;
    font-size: 25px;
    color:azure;
}
.heading{
    font-weight: 600;
    text-transform: capitalize;
    font-size: 45px;
    margin-left: 10px;
    margin-top: 10px;
}

.pad{
    padding: 0px 20px 0px 20px;
}
i {
	position: relative;
	display: block;
	width: 500px;
	height: 300px;
	overflow: hidden;
	border-radius: 5px;
  margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 20px;
}

i:before, i:after {
	content: '<';
	position: absolute;
	top: 50%;
	left: 1rem;
	z-index: 2;
	width: 2rem;
	height: 2rem;
	background: dodgerblue;
	color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

i:after {
	content: '>';
	left: auto;
	right: 1rem;
}

/* I haven't found a way for IE and Edge to let me style inputs that way */
input {
	appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 10px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transform: translateX(100%);
	transition: transform ease-in-out 400ms;
	z-index: 1;
}

input:focus {
	outline: none;
}

input:after {
	content: attr(title);
	position: absolute;
	top: 1rem;
	left: 1rem;
	background-color: rgba(0,0,0,0.4);
	color: white;
	padding: .5rem;
	font-size: 1rem;
	border-radius: 5px;
}

input:not(checked):before {
	content: '';
	position: absolute;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	top: 50%;
	left: calc(-100% + 1rem);
}

input:checked:before {
	display: none;
	left: 1rem;
}

input:checked {
	transform: translateX(0);
	pointer-event: none;
	z-index: 0;
	box-shadow: -5px 10px 20px -15px rgba(0,0,0,1);
}

input:checked + input:before {
	left: -3rem;
}

input:checked + input ~ input:before {
	display: none;
}