.achievements1 {
  position: relative;
  line-height: 26px;
}
.achievementsWrapper {
  border-radius: 0 var(--br-10xl) 0 var(--br-10xl);
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 20px 4px rgba(18, 203, 242, 0.2);
  width: 346px;
  height: 72px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-32xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.achievements,
.achievementsInner,
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameParent {
  height: 931px;
  padding: var(--padding-26xl) 0 var(--padding-37xl);
  box-sizing: border-box;
  align-items: flex-start;
  gap: var(--gap-153xl);
}
.achievements,
.achievementsInner {
  align-items: center;
}
.achievementsInner {
  border-radius: var(--br-11xl);
  background-color: var(--color-black);
  box-shadow: 0 4px 20px 3px rgba(18, 203, 242, 0.4);
  height: 1083px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-57xl) var(--padding-30xl);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
  font-family: var(--font-adamina);
}
.achievements {
  height: 1241px;
  gap: var(--gap-67xl);
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-franklin-gothic-medium);
}
