.contactUsWrapper {
  border-radius: 0 var(--br-10xl) 0 var(--br-10xl);
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 20px 4px rgba(18, 203, 242, 0.2);
  width: 331px;
  height: 72px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.meetTheDevelopers {
  position: relative;
  text-decoration: underline;
  line-height: 26px;
}
.meetTheDevelopersWrapper {
  border-radius: 0 var(--br-10xl) 0 var(--br-10xl);
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 20px 4px rgba(18, 203, 242, 0.2);
  width: 453px;
  height: 72px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.instagramIcon {
  position: relative;
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.instagramParent {
  width: 270px;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameChild {
  position: relative;
  border-radius: var(--br-11xl);
  width: 606px;
  height: 714px;
  z-index: 0;
}
.connectWithUs {
  align-self: stretch;
  position: relative;
  text-decoration: underline;
  line-height: 26px;
  display: inline-block;
  height: 26px;
  flex-shrink: 0;
}
.connectWithUsWrapper {
  width: 408px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
}
.frameItem {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 408px;
  height: 59px;
}
.name {
  position: relative;
  line-height: 26px;
  display: inline-block;
  width: 104px;
  flex-shrink: 0;
  margin-left: -393px;
}
.frameContainer {
  width: 408px;
  height: 59px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.email {
  position: relative;
  line-height: 26px;
  display: inline-block;
  width: 104px;
}
.emailWrapper {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 408px;
  height: 59px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-mini);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-end;
}
.typeMessage {
  position: relative;
  line-height: 26px;
  display: inline-block;
  width: 218px;
}
.typeMessageWrapper {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 408px;
  height: 173px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-mini);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.send {
  position: relative;
  line-height: 26px;
}
.frameGroup,
.sendWrapper {
  width: 408px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.sendWrapper {
  border-radius: 0 var(--br-10xl) 0 var(--br-10xl);
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 20px 4px rgba(18, 203, 242, 0.2);
  height: 49px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-2xs) var(--padding-147xl);
  align-items: flex-start;
  justify-content: flex-end;
}
.frameGroup {
  margin: 0 !important;
  position: absolute;
  top: 38px;
  left: 44.5px;
  height: 556px;
  padding: 0 0 var(--padding-19xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-19xl);
  z-index: 1;
}
.frameParent,
.vectorParent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.vectorParent {
  flex: 1;
  height: 594px;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-100);
}
.frameParent {
  width: 1739px;
  gap: var(--gap-241xl);
}
.contactUs {
  align-self: stretch;
  height: 726px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-41xl);
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-franklin-gothic-medium);
}
