.projects {
  position: relative;
  line-height: 26px;
}
.projectsWrapper {
  border-radius: 0 var(--br-10xl) 0 var(--br-10xl);
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 20px 4px rgba(18, 203, 242, 0.2);
  width: 331px;
  height: 72px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frameChild {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-black);
  box-shadow: 0 4px 20px 3px rgba(18, 203, 242, 0.2);
  width: 457.33px;
  height: 365px;
}
.frameItem {
  position: absolute;
  top: 30px;
  left: 0;
  width: 457.33px;
  height: 11px;
}
.projectName {
  position: absolute;
  top: 0;
  left: 76.22px;
  line-height: 26px;
  display: inline-block;
  width: 250.44px;
}
.vectorParent {
  position: relative;
  width: 457.33px;
  height: 40px;
}
.frameGroup,
.rectangleParent {
  height: 433px;
  display: flex;
  justify-content: flex-start;
}
.rectangleParent {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-9xl);
}
.frameGroup {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-90xl);
}
.frameChild2 {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-black);
  box-shadow: 0 4px 20px 3px rgba(18, 203, 242, 0.2);
  width: 432px;
  height: 365px;
}
.frameChild3 {
  position: absolute;
  top: 30px;
  left: 0;
  width: 432px;
  height: 11px;
}
.projectName3 {
  position: absolute;
  top: 0;
  left: 72px;
  line-height: 26px;
  display: inline-block;
  width: 236.57px;
}
.vectorParent1 {
  position: relative;
  width: 432px;
  height: 40px;
}
.frameDiv {
  width: 432px;
  height: 433px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.frameChild5 {
  position: absolute;
  top: 30px;
  left: 0;
  width: 470px;
  height: 11px;
}
.projectName4 {
  position: absolute;
  top: 0;
  left: 78.34px;
  line-height: 26px;
  display: inline-block;
  width: 257.38px;
}
.frameChild6,
.vectorParent2 {
  position: relative;
  width: 470px;
  height: 40px;
}
.frameChild6 {
  border-radius: var(--br-11xl);
  background-color: var(--color-black);
  box-shadow: 0 4px 20px 3px rgba(18, 203, 242, 0.2);
  height: 365px;
}
.frameParent,
.projetcs {
  display: flex;
  flex-direction: column;
}
.frameParent {
  align-self: stretch;
  height: 892px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl);
  font-size: var(--font-size-13xl);
}
.projetcs {
  width: 1776px;
  height: 1050px;
  padding: 0 var(--padding-74xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-67xl);
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-franklin-gothic-medium);
}
