.sponsors {
  position: relative;
  line-height: 26px;
}
.frameWrapper,
.sponsorsWrapper {
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sponsorsWrapper {
  border-radius: 0 var(--br-10xl) 0 var(--br-10xl);
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 20px 4px rgba(18, 203, 242, 0.2);
  width: 281px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameWrapper {
  width: 1765px;
}
.logo1Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 157.12px;
  height: 32px;
  object-fit: cover;
}
.logo2Icon,
.logo3Icon,
.logo4Icon,
.logo5Icon,
.logo6Icon,
.logo7Icon,
.logo8Icon {
  position: absolute;
  top: 0;
  left: 204.15px;
  width: 157.12px;
  height: 32px;
  object-fit: cover;
}
.logo3Icon,
.logo4Icon,
.logo5Icon,
.logo6Icon,
.logo7Icon,
.logo8Icon {
  left: 407.23px;
}
.logo4Icon,
.logo5Icon,
.logo6Icon,
.logo7Icon,
.logo8Icon {
  left: 610.31px;
}
.logo5Icon,
.logo6Icon,
.logo7Icon,
.logo8Icon {
  top: 57px;
  left: 147.5px;
}
.logo6Icon,
.logo7Icon,
.logo8Icon {
  left: 351.65px;
}
.logo7Icon,
.logo8Icon {
  left: 554.73px;
}
.logo8Icon {
  left: 758.88px;
}
.sponsorsLogo {
  position: relative;
  width: 916px;
  height: 89px;
}
.frameParent,
.sponsorsLogoWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sponsorsLogoWrapper {
  border-radius: var(--br-11xl);
  background-color: var(--color-black);
  box-shadow: 0 4px 60px 10px rgba(18, 203, 242, 0.4);
  overflow: hidden;
  padding: var(--padding-77xl) var(--padding-411xl);
}
.frameParent {
  height: 439px;
  gap: var(--gap-67xl);
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-franklin-gothic-medium);
}
